.buttons {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(97, 98, 128);
    box-shadow: 5px 10px #221f1f;
    padding-bottom: 20px;
}

.buttons button {
    margin-top: 20px;
}

.customerContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    align-items: center;
    color: rgb(9, 59, 100);
    margin-bottom: 50px;
}